WORKFLOWS/AI-AGENT-KIT/Telegram/Personal Assitant.json
{
  "name": "Personal Assitant",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Listen for incoming events').first().json.message.from.id }}"
      },
      "id": "4882dd59-766b-408b-8cca-fabf8f532a63",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        2880,
        1408
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "chatId": "={{ $('Listen for incoming events').first().json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "20711556-ffa7-4b59-874d-370af80ff2ed",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        3568,
        1136
      ],
      "webhookId": "e699405e-8e52-4d38-a06b-1fa8edf050bd",
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "tIjSEEMRFgpWxAVE",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant.\n\nToday's date is {{ $now }}.\n\nGuidelines:\n- When fetching emails, filter out any promotional emails. \n- When summarizing emails, include Sender, Message date, subject, and brief summary of email.\n- if the user did not specify a date in the request assume they are asking for today\n- Use baserow tool to answer questions about tasks\n- When answering questions about calendar events, filter out events that don't apply to the question.  For example, the question is about events for today, only reply with events for today. Don't mention future events if it's more than 1 week away"
        }
      },
      "id": "949a2b78-3ac2-48e5-8ee4-c230d16f7035",
      "name": "Angie, AI Assistant 👩🏻‍🏫",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3104,
        1136
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "content": "## Process Telegram Request\n",
        "height": 247,
        "width": 496,
        "color": 5
      },
      "id": "ad4e087b-438f-421c-b5a5-e9c57ef3c916",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1488,
        1120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Google Tasks\n",
        "height": 592,
        "width": 1136
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3008,
        2912
      ],
      "typeVersion": 1,
      "id": "9d9fbf0e-0980-46d4-99b7-e2a2f6bb2b8d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Google Calendar",
        "height": 592,
        "width": 1568
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4272,
        2912
      ],
      "typeVersion": 1,
      "id": "1654e01b-024f-44d2-ad99-867fcc0b3273",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Google  Drive\n",
        "height": 592,
        "width": 3328
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4256,
        2176
      ],
      "typeVersion": 1,
      "id": "c96f4ffd-085f-435d-b71e-a566c187f75f",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Gmail",
        "height": 608,
        "width": 2368
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        464,
        2896
      ],
      "typeVersion": 1,
      "id": "996583a4-ae83-44fe-ad7c-7585d59f2267",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "adityablw1234@gmail.com",
          "mode": "list",
          "cachedResultName": "adityablw1234@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        5664,
        3264
      ],
      "id": "b29540a8-b62c-44ba-b4b8-29caaed62a1f",
      "name": "Get availability in a calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "JaGK1PPgkxEXUUyC",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "adityablw1234@gmail.com",
          "mode": "list",
          "cachedResultName": "adityablw1234@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        5488,
        3264
      ],
      "id": "cf86baef-dae9-4eb5-a9ff-396c9e7a12b6",
      "name": "Update an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "JaGK1PPgkxEXUUyC",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "adityablw1234@gmail.com",
          "mode": "list",
          "cachedResultName": "adityablw1234@gmail.com"
        },
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        5296,
        3264
      ],
      "id": "cb9a4be7-5d14-415b-b46a-d8762bffb023",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "JaGK1PPgkxEXUUyC",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "adityablw1234@gmail.com",
          "mode": "list",
          "cachedResultName": "adityablw1234@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        5120,
        3264
      ],
      "id": "9780a9a3-4641-433c-b3cf-3f9c64dc910a",
      "name": "Get an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "JaGK1PPgkxEXUUyC",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "adityablw1234@gmail.com",
          "mode": "list",
          "cachedResultName": "adityablw1234@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        4944,
        3264
      ],
      "id": "d0296132-424b-4415-add6-d2b6995ae4a0",
      "name": "Delete an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "JaGK1PPgkxEXUUyC",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "adityablw1234@gmail.com",
          "mode": "list",
          "cachedResultName": "adityablw1234@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        4752,
        3264
      ],
      "id": "60ce0582-740b-49e8-b831-cd1fcc090205",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "JaGK1PPgkxEXUUyC",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "task": "MDIyNTM3OTc4MzMyNjM3NzMwMTQ6MDow",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        3280,
        3280
      ],
      "id": "ca795864-3ec5-488b-9373-f59c19ca39bf",
      "name": "Get a task",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "7o1zAa8jqrVkeHS1",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "task": "MDIyNTM3OTc4MzMyNjM3NzMwMTQ6MDow",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        3440,
        3280
      ],
      "id": "f95842b7-5fd9-4036-afba-c6cae3297d50",
      "name": "Delete a task",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "7o1zAa8jqrVkeHS1",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "task": "MDIyNTM3OTc4MzMyNjM3NzMwMTQ6MDow",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        3600,
        3280
      ],
      "id": "78031c1c-1d71-4791-b376-310f1688a3b1",
      "name": "Create a task",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "7o1zAa8jqrVkeHS1",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "task": "MDIyNTM3OTc4MzMyNjM3NzMwMTQ6MDow",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        3776,
        3280
      ],
      "id": "868809eb-fa57-4a2d-b1ff-b07aa7fbe4a8",
      "name": "Get many tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "7o1zAa8jqrVkeHS1",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "task": "MDIyNTM3OTc4MzMyNjM3NzMwMTQ6MDow",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        3952,
        3280
      ],
      "id": "4e4be515-0af7-48f2-9442-cdf560365e68",
      "name": "Update a task",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "7o1zAa8jqrVkeHS1",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        896,
        3264
      ],
      "id": "f8f19d6e-08f1-4fd6-bee6-c76206d44f3c",
      "name": "Send a message",
      "webhookId": "ee8039c5-0407-4f1f-a4d7-1d8588066671",
      "credentials": {
        "gmailOAuth2": {
          "id": "IsjMFSZhFVjNT0lW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1056,
        3264
      ],
      "id": "a5efd058-8693-4286-935f-023a03640077",
      "name": "Get a message",
      "webhookId": "ee8039c5-0407-4f1f-a4d7-1d8588066671",
      "credentials": {
        "gmailOAuth2": {
          "id": "IsjMFSZhFVjNT0lW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "labelIds": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_Names_or_IDs', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1216,
        3264
      ],
      "id": "2529f5cd-fb74-452f-83d7-e5e376dfa203",
      "name": "Add label to message",
      "webhookId": "ee8039c5-0407-4f1f-a4d7-1d8588066671",
      "credentials": {
        "gmailOAuth2": {
          "id": "IsjMFSZhFVjNT0lW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1392,
        3264
      ],
      "id": "dd9c0cd7-f532-4d68-ace6-c68527672259",
      "name": "Reply to a message",
      "webhookId": "ee8039c5-0407-4f1f-a4d7-1d8588066671",
      "credentials": {
        "gmailOAuth2": {
          "id": "IsjMFSZhFVjNT0lW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}",
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1568,
        3264
      ],
      "id": "a312667c-5916-42e1-993e-9f3bedd0c3b2",
      "name": "Get many messages",
      "webhookId": "ee8039c5-0407-4f1f-a4d7-1d8588066671",
      "credentials": {
        "gmailOAuth2": {
          "id": "IsjMFSZhFVjNT0lW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1760,
        3264
      ],
      "id": "6eb6ade0-6911-4097-9cf2-26292eb6ac30",
      "name": "Mark a message as read",
      "webhookId": "ee8039c5-0407-4f1f-a4d7-1d8588066671",
      "credentials": {
        "gmailOAuth2": {
          "id": "IsjMFSZhFVjNT0lW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsUnread",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1952,
        3264
      ],
      "id": "6f3cd872-5e7d-41a0-8522-bfd1574c611f",
      "name": "Mark a message as unread",
      "webhookId": "ee8039c5-0407-4f1f-a4d7-1d8588066671",
      "credentials": {
        "gmailOAuth2": {
          "id": "IsjMFSZhFVjNT0lW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "labelIds": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_Names_or_IDs', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        2160,
        3264
      ],
      "id": "f367b6dc-b980-471a-8530-5b58202c0b36",
      "name": "Remove label from message",
      "webhookId": "ee8039c5-0407-4f1f-a4d7-1d8588066671",
      "credentials": {
        "gmailOAuth2": {
          "id": "IsjMFSZhFVjNT0lW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        2352,
        3264
      ],
      "id": "f4926872-0c1c-4c0a-955b-390270ca253b",
      "name": "Send message and wait for response",
      "webhookId": "ee8039c5-0407-4f1f-a4d7-1d8588066671",
      "credentials": {
        "gmailOAuth2": {
          "id": "IsjMFSZhFVjNT0lW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        2544,
        3264
      ],
      "id": "788008bd-bc2b-47c1-a349-45b49b2b4ca0",
      "name": "Delete a message",
      "webhookId": "ee8039c5-0407-4f1f-a4d7-1d8588066671",
      "credentials": {
        "gmailOAuth2": {
          "id": "IsjMFSZhFVjNT0lW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File', ``, 'string') }}",
          "mode": "id"
        },
        "sameFolder": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Copy_In_The_Same_Folder', ``, 'boolean') }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        4720,
        2560
      ],
      "id": "a0231cf6-9a7a-448a-baf4-5150c2f0c12f",
      "name": "Copy file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xtcHQzRMer8lzh7q",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Content', ``, 'string') }}",
        "driveId": {
          "__rl": true,
          "mode": "url",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Parent_Drive', ``, 'string') }}",
          "__regex": "https:\\/\\/drive\\.google\\.com(?:\\/.*|)\\/folders\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Parent_Folder', ``, 'string') }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        4864,
        2560
      ],
      "id": "685ead4f-ce87-426e-b53a-43414c2e7fb3",
      "name": "Create a Text File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xtcHQzRMer8lzh7q",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File', ``, 'string') }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        5008,
        2560
      ],
      "id": "7b11a4a5-014a-4c2d-87ac-7c585c8e077a",
      "name": "Delete File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xtcHQzRMer8lzh7q",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 50,
        "searchMethod": "query",
        "queryString": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Query', ``, 'string') }}",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        5328,
        2560
      ],
      "id": "e35da6ce-aad2-4d1c-9803-d1272fe5447a",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xtcHQzRMer8lzh7q",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Parent_Folder', ``, 'string') }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        6160,
        2560
      ],
      "id": "14abcffb-15cd-4036-8c50-142e95df1cfd",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xtcHQzRMer8lzh7q",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "deleteFolder",
        "folderNoRootId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Folder', ``, 'string') }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        6336,
        2560
      ],
      "id": "2bf3cdbf-1fa7-4f72-ab1e-b24bcda3e399",
      "name": "Delete folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xtcHQzRMer8lzh7q",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutGoogleDrive": "",
        "descriptionType": "auto",
        "authentication": "oAuth2",
        "resource": "folder",
        "operation": "share",
        "folderNoRootId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Folder', ``, 'string') }}",
          "mode": "id"
        },
        "permissionsUi": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        6512,
        2560
      ],
      "id": "cf84aa94-8da9-466c-abd4-957c578a24b7",
      "name": "Share folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xtcHQzRMer8lzh7q",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "drive",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        6688,
        2560
      ],
      "id": "e318e8d8-189c-4bf7-9adf-29768584a17a",
      "name": "Create shared drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xtcHQzRMer8lzh7q",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "drive",
        "operation": "get",
        "driveId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Shared_Drive', ``, 'string') }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        6880,
        2560
      ],
      "id": "44f6a197-3746-4434-a451-90977f269d6d",
      "name": "Get shared drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xtcHQzRMer8lzh7q",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "drive",
        "operation": "list",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "limit": 50,
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        7056,
        2560
      ],
      "id": "c8dc9cca-b148-4405-a21f-81ec28be14c9",
      "name": "Get many shared drives",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xtcHQzRMer8lzh7q",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "drive",
        "operation": "deleteDrive",
        "driveId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Shared_Drive', ``, 'string') }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        7264,
        2560
      ],
      "id": "8135100a-b806-4029-b5f8-4a4f7e9237df",
      "name": "Delete shared drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xtcHQzRMer8lzh7q",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "drive",
        "operation": "update",
        "driveId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Shared_Drive', ``, 'string') }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        7456,
        2560
      ],
      "id": "486fc816-a4fd-47d4-9ca6-ee43df2a7460",
      "name": "Update shared drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xtcHQzRMer8lzh7q",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Input_Data_Field_Name', ``, 'string') }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Parent_Folder', ``, 'string') }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        5152,
        2560
      ],
      "id": "cf1c13f7-625c-48c1-a614-a712a16eb3ce",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xtcHQzRMer8lzh7q",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File', ``, 'string') }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        5504,
        2560
      ],
      "id": "2cec903d-a9ca-4a33-a45f-4ba9eaceb941",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xtcHQzRMer8lzh7q",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File', ``, 'string') }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Parent_Folder', ``, 'string') }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        5664,
        2560
      ],
      "id": "25f5afc1-b3d0-4111-92db-c0fb0baaa563",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xtcHQzRMer8lzh7q",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_to_Update', ``, 'string') }}",
          "mode": "id"
        },
        "changeFileContent": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Change_File_Content', ``, 'boolean') }}",
        "newUpdatedFileName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('New_Updated_File_Name', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        6000,
        2560
      ],
      "id": "4f90e393-5562-4475-98c3-5dbd7faeee48",
      "name": "Update file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xtcHQzRMer8lzh7q",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutGoogleDrive": "",
        "descriptionType": "auto",
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File', ``, 'string') }}",
          "mode": "id"
        },
        "permissionsUi": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        5824,
        2560
      ],
      "id": "efc3ed93-bdde-49eb-8879-5815fc83c11a",
      "name": "Share file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xtcHQzRMer8lzh7q",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Google Chat\n\n",
        "height": 592,
        "width": 2080
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1904,
        2128
      ],
      "typeVersion": 1,
      "id": "1ce92f7f-d544-4a59-815c-5ccd09fa73a1",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "jsonParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON_Parameters', ``, 'boolean') }}",
        "messageUi": {},
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleChatTool",
      "typeVersion": 1,
      "position": [
        2288,
        2528
      ],
      "id": "acbd3f61-1e19-4dc6-90fc-db4196feab25",
      "name": "Create a message",
      "webhookId": "302576b4-c4a0-4619-80a1-8d9418ccc469",
      "credentials": {
        "googleChatOAuth2Api": {
          "id": "vzSZwmRertgSxOKx",
          "name": "Chat account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "get",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleChatTool",
      "typeVersion": 1,
      "position": [
        2624,
        2528
      ],
      "id": "ecd91067-98db-47b4-8a99-355dfa3a72c3",
      "name": "Get message",
      "webhookId": "ccbb6732-85e3-40d9-a5c6-95e05d1ebe78",
      "credentials": {
        "googleChatOAuth2Api": {
          "id": "vzSZwmRertgSxOKx",
          "name": "Chat account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "delete",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleChatTool",
      "typeVersion": 1,
      "position": [
        2464,
        2528
      ],
      "id": "e5ed3984-9b72-43eb-a8a9-c218009fd3b5",
      "name": "Delete message",
      "webhookId": "302576b4-c4a0-4619-80a1-8d9418ccc469",
      "credentials": {
        "googleChatOAuth2Api": {
          "id": "vzSZwmRertgSxOKx",
          "name": "Chat account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "sendAndWait",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleChatTool",
      "typeVersion": 1,
      "position": [
        2800,
        2512
      ],
      "id": "2e07b30e-15ea-479f-b65d-78f0fd409653",
      "name": "Send message and wait  response",
      "webhookId": "302576b4-c4a0-4619-80a1-8d9418ccc469",
      "credentials": {
        "googleChatOAuth2Api": {
          "id": "vzSZwmRertgSxOKx",
          "name": "Chat account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "jsonParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON_Parameters', ``, 'boolean') }}",
        "updateFieldsUi": {}
      },
      "type": "n8n-nodes-base.googleChatTool",
      "typeVersion": 1,
      "position": [
        2976,
        2512
      ],
      "id": "0028368c-7098-4ed7-a348-f144bf4daaa2",
      "name": "Update message",
      "webhookId": "302576b4-c4a0-4619-80a1-8d9418ccc469",
      "credentials": {
        "googleChatOAuth2Api": {
          "id": "vzSZwmRertgSxOKx",
          "name": "Chat account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "member",
        "memberId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Member_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleChatTool",
      "typeVersion": 1,
      "position": [
        3168,
        2512
      ],
      "id": "c985732c-9be5-4e81-9cbc-d138b522b517",
      "name": "Get a member",
      "webhookId": "302576b4-c4a0-4619-80a1-8d9418ccc469",
      "credentials": {
        "googleChatOAuth2Api": {
          "id": "vzSZwmRertgSxOKx",
          "name": "Chat account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "space",
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.googleChatTool",
      "typeVersion": 1,
      "position": [
        3744,
        2512
      ],
      "id": "6fd7c2f2-b09f-43dc-b690-5975fa75e7be",
      "name": "Get many spaces",
      "webhookId": "302576b4-c4a0-4619-80a1-8d9418ccc469",
      "credentials": {
        "googleChatOAuth2Api": {
          "id": "vzSZwmRertgSxOKx",
          "name": "Chat account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "space",
        "spaceId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Space_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleChatTool",
      "typeVersion": 1,
      "position": [
        3568,
        2512
      ],
      "id": "de2e928d-c3ca-4329-9b92-10143dc4e1c7",
      "name": "Get a space",
      "webhookId": "302576b4-c4a0-4619-80a1-8d9418ccc469",
      "credentials": {
        "googleChatOAuth2Api": {
          "id": "vzSZwmRertgSxOKx",
          "name": "Chat account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "member",
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.googleChatTool",
      "typeVersion": 1,
      "position": [
        3360,
        2512
      ],
      "id": "ab2064a2-38ef-40c7-a63f-471860a59313",
      "name": "Get many members",
      "webhookId": "302576b4-c4a0-4619-80a1-8d9418ccc469",
      "credentials": {
        "googleChatOAuth2Api": {
          "id": "vzSZwmRertgSxOKx",
          "name": "Chat account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        3040,
        1424
      ],
      "id": "ee6d4522-c4f2-4172-bb61-c47badcb806a",
      "name": "Think"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        576,
        3248
      ],
      "id": "126083a4-5de5-4076-beec-0c6e95139255",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "1XOF9sUJ0nX7ni5o",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3088,
        3296
      ],
      "id": "073eb5b3-0bfb-4f83-8aa8-7c1d962d2596",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "1XOF9sUJ0nX7ni5o",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        3312,
        2992
      ],
      "id": "7bcb8426-7853-490f-969d-f34a951f5823",
      "name": "Tasks Agent"
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1200,
        2960
      ],
      "id": "22288608-5e31-41bf-8a4e-ad8df2cbaff7",
      "name": "Gmail Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4480,
        3248
      ],
      "id": "14ccdcb3-f014-4f02-ad14-933cb39bccfd",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "1XOF9sUJ0nX7ni5o",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        4640,
        3008
      ],
      "id": "66f3cdd3-0cf9-46c7-a58e-d9972c80143c",
      "name": "Calendar Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4416,
        2560
      ],
      "id": "f0980839-ad5a-4188-94d9-e3a2ef44166c",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "1XOF9sUJ0nX7ni5o",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2016,
        2480
      ],
      "id": "55b72bf2-9023-45b8-ab26-40702d1535a2",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "1XOF9sUJ0nX7ni5o",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        2512,
        2192
      ],
      "id": "e34152d5-3c5b-4b0d-9c71-8f8529fbe892",
      "name": "Chat Agent"
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        4960,
        2288
      ],
      "id": "4934b0b3-e31a-4e83-a973-54750fcd79d7",
      "name": "Drive Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2688,
        1408
      ],
      "id": "7c6c8a15-6cb3-4837-b94f-be0141d2087c",
      "name": "Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "1XOF9sUJ0nX7ni5o",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "0ce32fae-3cc3-41cc-8278-da882a99fb69",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        1568,
        1168
      ],
      "webhookId": "600c6d64-98f1-4597-9448-1397bd15b675",
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "tIjSEEMRFgpWxAVE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "05e0901a-fd32-4a6d-ba83-34e960b87e0d",
      "name": "Telegram1",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2032,
        1168
      ],
      "webhookId": "8b826288-7a45-4a12-bbf7-e07462532efb",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "tIjSEEMRFgpWxAVE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "id": "dedb3e2d-5385-4c8d-bad9-abbb36e4b795",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        2832,
        1072
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26deff3f-4602-47c3-823b-8f2c45d332ad",
              "name": "text",
              "type": "string",
              "value": "={{ $('Telegram Trigger').item.json.message.caption }}"
            }
          ]
        },
        "options": {}
      },
      "id": "528d6187-95ad-45b5-9d30-20e86d21f02c",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        2032,
        1008
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31c62aff-11d6-4909-9803-9a4574da9fb3",
              "name": "text",
              "type": "string",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0e0551ce-2edb-4a20-bc15-ee702865391e",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "position": [
        2032,
        1328
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.document }}",
                    "rightValue": "b"
                  }
                ]
              }
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "b59a106b-1951-414f-8a7d-28586d74750a",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "d"
                  }
                ]
              }
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "f45c3cc7-dc14-4a4a-bcf0-f8a112acb88c",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": ""
                  }
                ]
              }
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "4695f39c-eb12-4afc-8c21-7adf165e54ac",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.photo[0] }}",
                    "rightValue": ""
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "99e3516e-6186-4826-bb99-31a8a8da6d9c",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        1824,
        1152
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "381168d0-d839-4bfe-aae5-c4508a8a141a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        1568,
        992
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26deff3f-4602-47c3-823b-8f2c45d332ad",
              "name": "text",
              "type": "string",
              "value": "=Hey Angle, Give me the schedules that I have today which includes, my todo, my calendar, my notifications in your memory that I need to take care today. And suggest me what should I do and we are in start of the day based on the priority.\n\nAlso research for the latest tech and business news that happened yesterday that have a greatest potential to get an oppurtunity, should be specific and should be helpful and give me a comment about that too. Also with an oppurtunity that we can take use of because of this news.\n\nAlso send me with the important emails that I have. Just the important ones. "
            }
          ]
        },
        "options": {}
      },
      "id": "2c70d637-529e-445c-bf2a-b5ae05cf4ee1",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "position": [
        2032,
        640
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26deff3f-4602-47c3-823b-8f2c45d332ad",
              "name": "text",
              "type": "string",
              "value": "=Send a followup to the team individually with the tasks that are incomplete, the task they need to do or completed with a notes and a summary about this week. Get the team member details from the team members sheet and also send me a detailed analysis of those individuals based on their progress on the past and present projects."
            }
          ]
        },
        "options": {}
      },
      "id": "2eaf350f-f23e-4269-a9c2-a69a6f4a7050",
      "name": "Edit Fields4",
      "type": "n8n-nodes-base.set",
      "position": [
        2032,
        1520
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 08 * * MON"
            }
          ]
        }
      },
      "id": "68aba64c-5936-4f62-a829-ac4d8ae02d3d",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        1568,
        1360
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[0].file_id }}",
        "additionalFields": {}
      },
      "id": "16543771-1ce6-4e9d-8cbf-abd3bf027687",
      "name": "Telegram2",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2032,
        832
      ],
      "webhookId": "8b826288-7a45-4a12-bbf7-e07462532efb",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "tIjSEEMRFgpWxAVE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * @description This code iterates through all input items, sets the MIME type of the binary data to 'image/jpeg', and converts the binary data to a Base64 string.\n * @returns {Array} An array of items with the binary data converted to Base64.\n */\nfor (const item of $input.all()) {\n    // Manually set the correct MIME type\n    item.binary.data.mimeType = \"image/jpeg\";\n    \n    // Convert binary to Base64\n    item.json.base64Image = `data:image/jpeg;base64,${item.binary.data.data.toString('base64')}`;\n}\n\nreturn $input.all();\n"
      },
      "id": "de49becf-2306-45be-9fe3-f90b8f973603",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        2224,
        832
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26deff3f-4602-47c3-823b-8f2c45d332ad",
              "name": "text",
              "type": "string",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0744fb3f-53a4-452f-8724-e9dd10526bfa",
      "name": "Edit Fields5",
      "type": "n8n-nodes-base.set",
      "position": [
        2544,
        832
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-2.5-pro",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "text": "Analyse and Explain this image.",
        "inputType": "binary",
        "options": {}
      },
      "id": "65fe5cbf-113d-4285-a065-f883650d94ca",
      "name": "Analyze image",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "position": [
        2384,
        832
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "1XOF9sUJ0nX7ni5o",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-2.5-pro",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "inputType": "binary",
        "options": {}
      },
      "id": "a89aef54-b240-478d-8835-c96ff5013815",
      "name": "Transcribe a recording1",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "position": [
        2272,
        1168
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "1XOF9sUJ0nX7ni5o",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Angie, AI Assistant 👩🏻‍🏫",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Angie, AI Assistant 👩🏻‍🏫": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get availability in a calendar": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update an event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get an event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a task": {
      "ai_tool": [
        [
          {
            "node": "Tasks Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete a task": {
      "ai_tool": [
        [
          {
            "node": "Tasks Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a task": {
      "ai_tool": [
        [
          {
            "node": "Tasks Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many tasks": {
      "ai_tool": [
        [
          {
            "node": "Tasks Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update a task": {
      "ai_tool": [
        [
          {
            "node": "Tasks Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "ai_tool": [
        [
          {
            "node": "Gmail Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "ai_tool": [
        [
          {
            "node": "Gmail Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "ai_tool": [
        [
          {
            "node": "Gmail Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message": {
      "ai_tool": [
        [
          {
            "node": "Gmail Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "ai_tool": [
        [
          {
            "node": "Gmail Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mark a message as read": {
      "ai_tool": [
        [
          {
            "node": "Gmail Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mark a message as unread": {
      "ai_tool": [
        [
          {
            "node": "Gmail Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Remove label from message": {
      "ai_tool": [
        [
          {
            "node": "Gmail Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "ai_tool": [
        [
          {
            "node": "Gmail Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete a message": {
      "ai_tool": [
        [
          {
            "node": "Gmail Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "ai_tool": [
        [
          {
            "node": "Drive Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a Text File": {
      "ai_tool": [
        [
          {
            "node": "Drive Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete File": {
      "ai_tool": [
        [
          {
            "node": "Drive Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "ai_tool": [
        [
          {
            "node": "Drive Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "ai_tool": [
        [
          {
            "node": "Drive Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete folder": {
      "ai_tool": [
        [
          {
            "node": "Drive Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Share folder": {
      "ai_tool": [
        [
          {
            "node": "Drive Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create shared drive": {
      "ai_tool": [
        [
          {
            "node": "Drive Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get shared drive": {
      "ai_tool": [
        [
          {
            "node": "Drive Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many shared drives": {
      "ai_tool": [
        [
          {
            "node": "Drive Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete shared drive": {
      "ai_tool": [
        [
          {
            "node": "Drive Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update shared drive": {
      "ai_tool": [
        [
          {
            "node": "Drive Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "ai_tool": [
        [
          {
            "node": "Drive Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "ai_tool": [
        [
          {
            "node": "Drive Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "ai_tool": [
        [
          {
            "node": "Drive Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update file": {
      "ai_tool": [
        [
          {
            "node": "Drive Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Share file": {
      "ai_tool": [
        [
          {
            "node": "Drive Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a message": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get message": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete message": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait  response": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update message": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a member": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many spaces": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a space": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many members": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Angie, AI Assistant 👩🏻‍🏫",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gmail Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Tasks Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tasks Agent": {
      "ai_tool": [
        [
          {
            "node": "Angie, AI Assistant 👩🏻‍🏫",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Agent": {
      "ai_tool": [
        [
          {
            "node": "Angie, AI Assistant 👩🏻‍🏫",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "ai_tool": [
        [
          {
            "node": "Angie, AI Assistant 👩🏻‍🏫",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Drive Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Chat Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Agent": {
      "ai_tool": [
        [
          {
            "node": "Angie, AI Assistant 👩🏻‍🏫",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Drive Agent": {
      "ai_tool": [
        [
          {
            "node": "Angie, AI Assistant 👩🏻‍🏫",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Angie, AI Assistant 👩🏻‍🏫",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram1": {
      "main": [
        [
          {
            "node": "Transcribe a recording1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Angie, AI Assistant 👩🏻‍🏫",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram2": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ed3af408-f2c9-40d3-b6c9-e2ccf2284eec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bed93f528c3d63bdece3e9fc28c38dcabe9395929b178a6a65fa14fb10c360c9"
  },
  "id": "izgXgEM1pCgAddJX",
  "tags": []
}