WORKFLOWS/AI-AGENT-KIT/Website/AI_Chatbot.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1728,
        0
      ],
      "id": "9145d94b-3cdc-4d13-8281-75af428bb5c5",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        896,
        0
      ],
      "id": "7f62f46c-08ad-4d2f-b2a1-cc580daefc6e",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1120,
        0
      ],
      "id": "1078a749-0fd9-4b7a-b85e-cd460aadab87",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5354b213-107d-4000-9f1f-cdf2614ea607",
              "leftValue": "={{ $json.body }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "75209ef6-7649-41fc-a070-95783175a0d6",
              "leftValue": "={{ $json.body.chatInput }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -112,
        112
      ],
      "id": "66995936-4b43-449c-96b0-d53e9f40a40f",
      "name": "Check if chatInput is set"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1216,
        240
      ],
      "id": "c0a86c13-01b8-4f89-8fc3-a284d21e95c3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  output: $json.output,\n  sessionId: $('Merge').item.json.sessionId,\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        0
      ],
      "id": "c8a441ff-bc75-478e-80d4-e42931c55dfa",
      "name": "Build response with sessionId"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        112
      ],
      "id": "159f906b-275c-4a89-be7d-d734d064509c",
      "name": "Webhook",
      "webhookId": "4af602f1-e8c7-4f0c-856b-e08623232897"
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.body;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "cf51d384-da2d-4861-a07b-75d493e0abb2",
      "name": "Get \"body\""
    },
    {
      "parameters": {
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        208,
        208
      ],
      "id": "23eb9735-6628-4851-9e2c-28cbafb6df91",
      "name": "Error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "75209ef6-7649-41fc-a070-95783175a0d6",
              "leftValue": "={{ $json.sessionId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        0
      ],
      "id": "f0266404-fdf5-4fba-ad4f-1ba3f3a107d9",
      "name": "Existing \"sessionId\"?"
    },
    {
      "parameters": {
        "action": "generate",
        "dataPropertyName": "sessionId"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        672,
        208
      ],
      "id": "2c6658b5-b08f-4c4c-bb03-77faf08afb10",
      "name": "Generate sessionId"
    },
    {
      "parameters": {
        "model": "z-ai/glm-4.5-air:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        992,
        208
      ],
      "id": "2cdade44-6c8c-4933-ab8c-af5bea98584f",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "ch9ZvBjdGLlM4S6v",
          "name": "OpenRouter account 2"
        }
      }
    }
  ],
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Build response with sessionId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if chatInput is set": {
      "main": [
        [
          {
            "node": "Get \"body\"",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Build response with sessionId": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Check if chatInput is set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get \"body\"": {
      "main": [
        [
          {
            "node": "Existing \"sessionId\"?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existing \"sessionId\"?": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate sessionId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate sessionId": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8998e8f989e529f5a3976189ff512786312515783b3dc1e643e5493181b3f2f2"
  }
}
