WORKFLOWS/AI-AGENT-KIT/Website/Receive_feedback_from_user_website.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "client-feedback",
        "options": {}
      },
      "id": "0ae510e0-4dc8-4692-8dbe-5ad3f34018de",
      "name": "Receive Feedback",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -992,
        128
      ],
      "webhookId": "89e8d5ec-d442-41ea-9ff1-93a9df0b2aa1",
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "\nconst feedback = $json.feedback || \"No feedback provided.\";\nreturn [{\n  json: {\n    prompt: `Analyze this client feedback: \"${feedback}\"\\n\\n1. Summarize the positive points.\\n2. Suggest improvements.\\n3. Generate a short social media post based on the positive elements.`\n  }\n}];\n"
      },
      "id": "533bd225-bd2c-41f8-926b-bff686bf41fe",
      "name": "Prepare AI Prompt",
      "type": "n8n-nodes-base.function",
      "position": [
        -800,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "url": "https://api.deepseek.com/generate",
        "jsonParameters": true,
        "options": {}
      },
      "id": "24886bbd-a9fb-471f-9b4e-0fa94bc4e451",
      "name": "Analyze with AI",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -592,
        128
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "functionCode": "\nconst output = $json.response || $json.choices?.[0]?.text || \"No AI output.\";\nconst splitIndex = output.indexOf(\"3.\");\nlet summary = output;\nlet post = \"No post generated.\";\n\nif (splitIndex !== -1) {\n  summary = output.substring(0, splitIndex).trim();\n  post = output.substring(splitIndex).replace(/^3\\./, \"\").trim();\n}\n\nreturn [{\n  json: {\n    report: summary,\n    post: post\n  }\n}];\n"
      },
      "id": "ddfd3ab2-6481-4da6-9692-b8ce58e4d028",
      "name": "Format AI Output",
      "type": "n8n-nodes-base.function",
      "position": [
        -400,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fromEmail": "your@email.com",
        "toEmail": "team@email.com",
        "subject": "Client Feedback Summary",
        "text": "={{ $json[\"report\"] }}",
        "options": {}
      },
      "id": "6a8a0763-a83c-44a1-9658-5c10de54b48d",
      "name": "Send Feedback Report",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        -176,
        96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ $json[\"post\"] }}",
        "additionalFields": {}
      },
      "id": "be33fef0-5e65-47fe-a285-9513937d25df",
      "name": "Send Social Draft",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -176,
        256
      ],
      "webhookId": "07598764-aee9-41ea-82c1-0ded0ac08b57",
      "typeVersion": 1
    }
  ],
  "connections": {
    "Receive Feedback": {
      "main": [
        [
          {
            "node": "Prepare AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Prompt": {
      "main": [
        [
          {
            "node": "Analyze with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze with AI": {
      "main": [
        [
          {
            "node": "Format AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format AI Output": {
      "main": [
        [
          {
            "node": "Send Feedback Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Social Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8998e8f989e529f5a3976189ff512786312515783b3dc1e643e5493181b3f2f2"
  }
}
